<!DOCTYPE html>
<html>
<head>
<style>
	.mylist{
		background-color: rgb(36,34,36);
		color: aliceblue;
		padding: 15%;
		font-family: monospace;
		font-size: 400%;
	}
	.info{
		background-color: rgb(36, 34, 36);
		color: aliceblue;
		padding: 15%;
		font-family: monospace;
		font-size: 350%;
	}
	.header{
		background-color:royalblue;
		color: black;
		padding: 1%;
		font-family: monospace;
		font-size: 500%;
	}

</style>
<title>REVE SYSTEMS</title>
<body>
	<div class="header">
		<h1>REVE SYSTEMS</h1>
	</div>
	<div>
		<img src="REVE.jpg"; width="100%"; height="300px">
	</div>
	<div class="info">
		<p>REVE Systems E-mail ID : nahian@revesoft.com</p>
		<p>REVE Systems E-mail Password : kaziNahian_81</p>
		<p>GitLab Password : kaziNahian_81</p>
		<p>REVE HajiraKhata ID : NAHIAN</p>
		<p>REVE HajiraKhata Password : 123456</p>
		<p>REVE HajiraKhata Password : 123456</p>
	</div>
	<div class="mylist">
		<p>
			Important Links ... 
		</p>
		<ul>
			<li><a href="https://mail.revesoft.com:2096/"; style="color: silver;">REVE_Mail</a></li>
			<li><a href="http://hajirakhata.revesoft.com/"; style="color: silver;">hajira_khata</a></li>
			<li><a href="http://git.iptelephony.revesoft.com/users/sign_in"; style="color: silver;">GitLab</a></li>
		</ul>
	</div>
</body>
</head>
</html>>
